<div class="name-card">

  <link rel="stylesheet" href="/css/name-card.css">
 
  <img src={{expfill var.headshot}}>
  
  <h2>{{expfill var.name}}</h2>
  
  <div class="socials">
    <a href="https://twitter.com/{{expfill var.twitter}}">  
      <img src="assets/twitter-brands.svg"> 
    </a>
    <a href="https://github.com/{{expfill var.github}}">
      <img src="assets/github-brands.svg"> 
    </a>
    <a href="mailto:{{expfill var.email}}">
      <img src="assets/envelope-solid.svg"> 
    </a>
  </div>
  
  <div class="description">
    {{expfill var.description}} 
  </div>
    
  <div class="institution"> 
    {{expfill var.institution}} 
  </div>
  
</div>
