.franklin-content {
  
  padding-left: 10%; 
  padding-top: 1em;
  padding-bottom: 1em;
  
  vertical-align: center; 
  text-align: center;
}

h1.title{

  /* Centers it vertically */
  margin-top: 25%;

  font-family: Jost, sans-serif;
  font-size: 50pt;
}

body{
  
  background-image: url("/assets/cover_photo.png");
  background-position: center;
  background-size: cover;
}