<!--
    Franklin expects to find a file called foot.html here. To control what
    layout is used for different types of pages, use html functions to insert
    layouts from another file based on some page variable.
-->

<!-- CONTENT ENDS HERE -->

<div class="page-foot">

    This site was made with <a href="https://franklinjl.org/">Franklin.jl</a> 
    and the <a href="https://julialang.org">Julia programming language.</a> 
</div> 
   
    {{ if hasmath }}
        {{ insert foot_katex.html }}
    {{ end }}
    {{ if hascode }}
        {{ insert foot_highlight.html }}
    {{ end }}
  </body>
</html>
